*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/*
.DS_Store
/build
/TestResults
/captures
.externalNativeBuild
/docs
*.orig

app/src/main/res/values-nb-rNO/

visida_extras/venv/
visida_extras/__pycache__