<html>
	<body style="padding: 10px; font-family: sans-serif;">
		<img src="https://dev-visida.newcastle.edu.au/images/header_icon.png"
			 style="width: 160px;" />
		<div style="padding: 20px; background-color: white; border-radius: 2px;">
			<h4 style="color: #475932; font-size: 30px; font-weight: bold; margin-bottom: 10px">Reset your Password</h4>
			<hr>
			<p style="font-weight: 500">
				You are receiving this email because you requested a password reset for VISIDA. To reset your password, click the button below and enter your new password in the prompts. If you did not make this request, please ignore this email.<br/><br/>
                This request will expire at {{expiry}}.
			</p>
			<style type="text/css">
				#bigbutton {
					height: 32px; width: 256px; background-color: #CBD6BE; font-weight: bold; color: #555; cursor: pointer; border: 0; border-radius: 2px;
				}
				#bigbutton:hover{
					background-color: #B2C29F;
				}
			</style>
			<a href="{{url}}" target="_" style="height: 32px; width: 256px; background-color: #CBD6BE; font-weight: bold; color: #555; cursor: pointer; border: 0; border-radius: 2px; text-decoration: none; padding: 10px 20px;">Reset your Password</a>
			<!-- <a href="{{url}}" target="_"> <button id="bigbutton" style="height: 32px; width: 256px; background-color: #CBD6BE; font-weight: bold; color: #555; cursor: pointer; border: 0; border-radius: 2px;">Reset your Password</button></a> -->
		</div>
	</body>
</html>