<div class="col-xs-12 text-center" ng-show="images.length > 0" style="padding: 0;">
	<ul class="pagination">
		<li class="page-item {{ (pageData && pageData.hasPrev) ? '' : 'disabled' }}">
			<a ng-if="pageData && pageData.hasPrev" href="{{buildLink(activePage - 1)}}" class="page-link" ng-click="movePage($event)">
				Previous
			</a>
			<span ng-if="!pageData || !pageData.hasPrev" class="page-link">
				Previous
			</span>
		</li>
		<li class="page-item {{ (activePage == i) && 'active' || '' }}" ng-repeat="i in getPageNumber()">
			<a href="{{ buildLink(i) }}" class="page-link">{{ i }}</a>
		</li>
		<li class="page-item {{ (pageData && pageData.hasNext) ? '' : 'disabled' }}">
			<a ng-if="pageData && pageData.hasNext" href="{{buildLink(activePage + 1)}}" class="page-link" ng-click="movePage($event)">
				Next
			</a>
			<span ng-if="!pageData || !pageData.hasNext" class="page-link">
				Next
			</span>
		</li>
	</ul>
</div>