<script src="../node_modules/jquery-csv/src/jquery.csv.min.js"></script>
<div id="content" ng-controller="reviewController" class="container-fluid" style="margin-left: 40px;">
	<div class="row content">
		<div class="col-xs-12">
			<span class="page-head h3">Review Intake</span>
			<span class="glyphicon glyphicon-refresh glyph-md {{ (loading) && 'loading-run' || 'loading-done' }}" style="margin-left: 15px;"></span>
			<hr class="head-hr">
		</div>
		<div class="col-xs-12">
			<div class="form-inline" style="padding: 5px 0px 8px 0px;">
				<div class="form-group">
					<label for="sStudy">Study:</label>
					<select id="sStudy" name="sStudy" ng-model="selectedStudy" class="form-control btn-pulse" ng-change="studyChanged()"  ng-options="s.id as s.name for s in searchConfig.studies">
						<option value="">Any</option>
						<!-- <option ng-repeat="s in searchConfig.studies" value="{{ s.id }}">{{ s.name }}</option> -->
					</select>
				</div>
				<div class="form-group" ng-disabled="!selectedStudy" style="margin-left: 10px;">
					<label for="sHousehold">Household:</label>
					<select id="sHousehold" name="sHousehold" ng-model="selectedHousehold" class="form-control" ng-change="householdChanged()">
						<option value="">Any</option>
						<option ng-repeat="hh in study.households" value="{{ hh.name }}">{{ hh.name }}</option>
					</select>
				</div>
				<div class="form-group" ng-disabled="!selectedStudy" style="margin-left: 10px;">
					<label for="date">View By: </label>
					<select id="date" name="date" ng-model="groupBy" class="form-control" ng-init="groupBy = 'day'">
						<option value="day">Day</option>
						<option value="meal">Meal</option>
						<option value="foodItem">Food Item</option>
					</select>
				</div>
				<button class="btn btn-primary btn-sm" style="margin-left: 20px;" ng-click="search()" ng-disabled="!selectedStudy">Search</button>
				<!-- <div class="form-group" ng-show="selectedHousehold != null" style="margin-left: 10px;">
					<label for="member">Member:</label>
					<select id="member" name="member" ng-model="selectedMember" class="form-control">
						<option value="">Any</option>
						<option ng-repeat="hm in household.householdMembers" value="{{ hm.id }}">{{ hm.name }}</option>
					</select>
				</div> -->
			</div>
			<div class="" style="padding: 5px 0px 8px 0px;">
				<!-- <form class="form-inline" style="display: inline-block;">
					<div class="form-group">
						<label for="date">View By: </label>
						<select id="date" name="date" ng-model="groupBy" class="form-control" ng-init="groupBy = 'day'">
							<option value="day">Day</option>
							<option value="meal">Meal</option>
							<option value="foodItem">Food Item</option>
						</select>
					</div>
				</form> -->
				<button class="btn btn-standard btn-sm" data-toggle="modal" data-target="#columnModal" ng-disabled="showTable != true" style="margin-left: 20px;">Choose Columns</button>
				<button class="btn btn-primary btn-sm" style="margin-left: 20px;" ng-click="export()" ng-disabled="showTable != true">Export</button>
			</div>
			<hr class="head-hr">
		</div>
		<div class="col-xs-12">
			<table class="resultTable" ng-show="showTable" style="overflow: scroll; height: 650px;">
				<tr style="border-bottom: 2px black solid; ">
					<th></th>
					<th></th>
					<th ng-if="showDate">Date</th>
					<th ng-if="showPId">Participant</th>
					<th ng-if="showMeals">Meals</th>
					<th ng-if="showName" style="min-width: 300px;">Name</th>
					<th ng-if="showQuantity">Quantity (g)</th>
					<th ng-repeat="col in fctConfig" ng-if="col.valid && col.show">{{ col.external }}</th>
				</tr>
				<tr ng-repeat="row in tableRows">
					<td style="font-weight: bold;">{{ $index + 1 }}</td>
					<td>
						<a ng-if="row.error && row.errorId" href="#!image?id={{ row.errorId }}" ><span title="{{ row.error }}" class="glyphicon glyphicon-warning-sign text-danger"></span></a>
						<span ng-if="row.error && !row.errorId" title="{{ row.error }}" class="glyphicon glyphicon-warning-sign text-danger"></span>
					</td>
					<td ng-if="showDate">{{ (row.date ? row.date : row.timeStart) | date : "dd/MM/yyyy" }}</td>
					<td ng-if="showPId">{{ row.householdMemberParticipantId }}</td>
					<td ng-if="showMeals">{{ row.meals }}</td>
					<td ng-if="showName">{{ row.name }}</td>
					<td ng-if="showQuantity">{{ row.quantityGrams }}</td>
					<td ng-repeat="col in fctConfig" ng-if="col.valid && col.show">{{ row[col.internal] | number:2 }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="columnModal" class="container modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Choose Columns</h4>
					<p class="text-danger">Column names listed in red have missing food composition data and may display incorrect results if used.</p>
				</div>
				<div class="modal-body">
					<ul>
						<li><input type="checkbox" ng-model="showDate" ng-init="showDate = true"><span style="font-weight: bolder;">Date</span></li>
						<li><input type="checkbox" ng-model="showPId" ng-init="showPId = true"><span style="font-weight: bolder;">Participant Id</span></li>
						<li ng-show="groupBy === 'day'"><input type="checkbox" ng-model="showMeals" ng-init="showMeals = true"><span style="font-weight: bolder;">Meals</span></li>
						<li><input type="checkbox" ng-model="showQuantity" ng-init="showQuantity = true"><span style="font-weight: bolder;">Quantity</span></li>
						<li><input type="checkbox" ng-change="ColCheckChange(false, showNutrients)" ng-model="showNutrients" ng-init="showNutrients = true"><span style="font-weight: bolder;">Nutrients</span></li>
						<li>
							<ul>
								<li ng-repeat="col in fctConfig" ng-if="col.valid && !col.internal.startsWith('adG')">
									<input type="checkbox" ng-model="col.show"><span class="{{ col.warning ? 'text-danger' : ''}}" title="{{col.warning}}">{{ col.external }}</span>
								</li>
							</ul>
						</li>
						<li><input type="checkbox" ng-change="ColCheckChange(true, showAdg)" ng-model="showAdg" ng-init="showAdg = true"><span style="font-weight: bolder;">Food Groups</span></li>
						<li>
							<ul>
								<li ng-repeat="col in fctConfig" ng-if="col.valid && col.internal.startsWith('adG')">
									<input type="checkbox" ng-model="col.show"><span class="{{ col.warning ? 'text-danger' : ''}}" title="{{col.warning}}">{{ col.external }}</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
</div>